opencv-python==4.9.0.80
numpy==1.26.4
pillow==10.3.0
PySide6==6.7.0
jellyfish==1.0.3
torch==2.2.2
PyYAML==6.0.1
torchvision==0.17.2
matplotlib==3.8.4
ultralytics==8.1.47
pandas==2.2.2
seaborn==0.13.2
scipy==1.13.0
requests==2.31.0
tqdm==4.66.2
psutil==5.9.8
tensorflow==2.16.1
QtPy==2.4.1
keras==3.2.1
streamlit==1.33.0
persian==0.5.0
python-bidi==0.4.2
arabic-reshaper==3.0.0